@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');


.App {
  text-align: center;
  color: navy;
  font-family: 'Open Sans', 'Verdana', sans-serif; 
} 

/* Styling for header */

.header {
  font-size: 3.5rem;
}

/* Styling for nav links */

.iconLink {
  padding: 1rem;
  color: turquoise;
}

/* Styling for add artwork fields */

.artInputField {
  padding-top: 20rem;
}

/* Styling for search bar */

.artItemSearch {
  padding-top: 3rem;
}