@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');


.App, html, body {
  text-align: center;
  color: navy;
  font-family: 'Open Sans', 'Verdana', sans-serif; 
  background-color: #F8F4E3;
  height: 100%;
} 

/* Styling for header */

.header {
  font-size: 2rem;
  font-weight: 600;
  color: #40434E;
}

/* Styling for signin/signup */

.box {
  padding-top: 6rem;
}

/* Styling for nav links */

.iconLink {
  padding: 1rem;
  color: #F77F00;
}

/* Styling for add artwork fields */

.artInputField {
  padding-top: 20rem;
}

/* Styling for search bar */

.artItemSearch {
  padding-top: 6rem;
}
